*.d
*.o
*.pch
*flymake*
CMakeCache.txt
CMakeFiles/
camlisp
cmake_install.cmake
debug.log
nul
/build
Makefile
.clangd
compile_commands.json
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
